---
import Offres from "../pages/index.astro";
import PbImages from "./PbImages.astro";

const { offre } = Astro.props;
---

<div class="card">
    

    <h2>{offre.nomMaison}</h2>
    <PbImages record={offre} recordImage={offre.Image[0]} />   
    <PbImages record={offre} recordImage={offre.Image[1]} />   
    <PbImages record={offre} recordImage={offre.Image[2]} />   
    
    
    <p>{offre.adresse}</p


    {offre.favori && <span class="favori">★ Favori</span>}
</div>